[MASTER]
# Add files or directories matching the regex patterns to the ignore-list.
# The regex matches against paths.
ignore-paths=
    tests/,
    (.*)/tests/,
    testauth/,
    (.*)/testauth/,
    (.*)/migrations/,

[MESSAGES CONTROL]
disable=
    attribute-defined-outside-init,
    import-error,
    protected-access,
    too-few-public-methods,

    # ignore TODOS
    fixme,

    # ignore docstrings
    missing-module-docstring,
    missing-function-docstring,
    missing-class-docstring,

    # handled by isort
    wrong-import-position,
    ungrouped-imports,

    # handled by black
    format,

[DESIGN]
max-attributes=10
